<div class="menu-overlay"></div>

<script src="~/Admin/js/jquery.min.js"></script>
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/js/metismenu.min.js"></script>
<script src="~/Admin/js/waves.js"></script>
<script src="~/Admin/js/simplebar.min.js"></script>
<script src="~/Admin/js/theme.js"></script>
<script src="~/Admin/js/chart.js"></script>
<script src="~/Admin/js/site.js"></script>



<!-- Morris Js-->
<script src="~/Admin/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/Admin/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->

<!-- App js -->


<!-- sweet alert -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminRemovePartial.cshtml")
@await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminCreateOrUpdatePartial.cshtml")


