<div class="menu-overlay"></div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/metismenu.min.js"></script>
<script src="~/js/waves.js"></script>
<script src="~/js/simplebar.min.js"></script>

<!-- third party js -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/buttons.flash.min.js"></script>
<script src="~/plugins/datatables/buttons.print.min.js"></script>
<script src="~/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/plugins/datatables/dataTables.select.min.js"></script>
<script src="~/plugins/datatables/pdfmake.min.js"></script>
<script src="~/plugins/datatables/vfs_fonts.js"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<script src="~/Admin/vertical/assets/pages/datatables-demo.js"></script>

<!-- Morris Js-->
<script src="~/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->
<script src="~/Admin/vertical/assets/pages/dashboard-demo.js"></script>

<!-- App js -->
<script src="~/js/theme.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminRemovePartial.cshtml")
@await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminCreateOrUpdatePartial.cshtml")

