<head>
    <title>CarBook Araç Kiralama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/Site/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Site/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Site/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/Site/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/Site/css/animate.css">
    <link rel="stylesheet" href="/Site/css/aos.css">
    <link rel="stylesheet" href="/Site/css/flaticon.css">
    <link rel="stylesheet" href="/Site/css/icomoon.css">
    <link rel="stylesheet" href="/Site/css/ionicons.min.css">
    <link rel="stylesheet" href="/Site/css/jquery.timepicker.min.css">
    <link rel="stylesheet" href="/Site/css/magnific-popup.css">
    <link rel="stylesheet" href="/Site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Site/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Site/css/style.css">
    <link rel="stylesheet" href="/Site/css/sweetalert2.min.css">
</head>
