@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div id="layout-wrapper">
       
        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbarPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")

        <div class="main-content">
            @RenderBody()
        </div>
        @await Html.PartialAsync("/Views/AdminLayout/AdminFooterPartial.cshtml")

    </div>
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptPartial.cshtml")

</body>
</html>
