@model UpdateCarDto
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili bilgileri eksiksiz doldurmanız önemlidir. Veri girişinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>

                        <form asp-action="UpdateCar" method="post">
                            <input type="hidden" asp-for="CarID" />
                            <div class="form-group">
                                <label asp-for="BrandID">Marka</label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })
                                <small id="brandHelp" class="form-text text-muted">Marka bilgisi seçiniz.</small>
                                <span asp-validation-for="BrandID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Model">Model</label>
                                <input type="text" class="form-control" asp-for="Model" placeholder="Modeli giriniz" />
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CoverImageUrl">Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" asp-for="CoverImageUrl" placeholder="Kapak fotoğrafı URL'sini giriniz" />
                                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Km">KM</label>
                                <input type="number" class="form-control" asp-for="Km" placeholder="KM bilgisini giriniz" />
                                <span asp-validation-for="Km" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Transmission">Vites</label>
                                <input type="text" class="form-control" asp-for="Transmission" placeholder="Vites türünü giriniz" />
                                <span asp-validation-for="Transmission" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Seat">Koltuk</label>
                                <input type="number" class="form-control" asp-for="Seat" placeholder="Koltuk sayısını giriniz" />
                                <span asp-validation-for="Seat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Luggage">Bagaj</label>
                                <input type="number" class="form-control" asp-for="Luggage" placeholder="Bagaj kapasitesini giriniz" />
                                <span asp-validation-for="Luggage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fuel">Yakıt Türü</label>
                                <input type="text" class="form-control" asp-for="Fuel" placeholder="Yakıt türünü giriniz" />
                                <span asp-validation-for="Fuel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BigImageUrl">Büyük Foto</label>
                                <input type="text" class="form-control" asp-for="BigImageUrl" placeholder="Büyük fotoğraf URL'sini giriniz" />
                                <span asp-validation-for="BigImageUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
