<head>
    <title>CarBook Araç Kiralama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/Site/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Site/css/animate.css">

    <link rel="stylesheet" href="/Site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Site/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Site/css/magnific-popup.css">

    <link rel="stylesheet" href="/Site/css/aos.css">

    <link rel="stylesheet" href="/Site/css/ionicons.min.css">


    <link rel="stylesheet" href="/Site/css/flaticon.css">
    <link rel="stylesheet" href="/Site/css/icomoon.css">
    <link rel="stylesheet" href="/Site/css/style.css">


    <!-- Timepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.1/jquery.timepicker.min.css">
    <!-- Pikaday CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    

  </head>