@model List<ResultGetBrandsDto>

@{
    ViewData["Title"] = "Marka Listesi";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Marka Listesi</h4>
                            <p class="card-subtitle mb-4">Markaları listeleyebilir ve düzenleyebilirsiniz.</p>
                            @if (Model.Count == 0)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <p><i>Daha önce eklenen herhangi bir marka <b>bulunamadı.</b> Yeni marka eklemek için "Yeni Marka Girişi" butonunu kullanabilirsiniz.</i></p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Marka</th>
                                                <th>Modeller</th>
                                                <th>Sil</th>
                                                <th>Güncelle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <th scope="row">@count</th>
                                                    <td>@item.Name</td>
                                                    <td><a href="/Admin/AdminBrand/BrandsDetail/@item.BrandID" class="btn btn-outline-dark btn-sm">Modeller</a></td>
                                                    <td><a href="/Admin/AdminBrand/RemoveBrand/@item.BrandID" class="btn btn-outline-danger btn-sm btn-delete">Sil</a></td>
                                                    <td><a href="/Admin/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-success btn-sm">Güncelle</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
