@model UpdateBrandDto

@{
    ViewData["Title"] = "Marka Güncelleme";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Güncelleme</h4>
                        <form asp-action="UpdateBrand" method="post">
                            <input type="hidden" asp-for="BrandID" />
                            <div class="form-group">
                                <label asp-for="Name">Marka Adı</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Yeni marka adını girin" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light btn-sm">Güncellemeyi Kaydet</button>
                            <a href="/AdminBrand/Index" class="btn btn-secondary waves-effect waves-light btn-sm">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
