@model ResultLocationDto

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="/CarBook/RentACarList/ReservationInfos/" class="request-form ftco-animate bg-primary" method="post">
                            <h2>Yolculuğunuzu Planlayın</h2>
                            <div class="form-group">
                                <label for="LocationID" class="label">Alış Yeri</label>
                                @Html.DropDownListFor(x => x.LocationID, (List<SelectListItem>)ViewBag.LocationValues, new { @class = "form-control", id = "LocationID" })
                            </div>
                            <div class="form-group">
                                <label for="DropOffLocation" class="label">Bırakış Yeri</label>
                                <input type="text" class="form-control" id="DropOffLocation" placeholder="Şehir, Havalimanı, İstasyon vb." />
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="reservationDate" class="label">Alış Tarihi</label>
                                    <input type="text" class="form-control" name="reservationDate" id="reservationDate" placeholder="Tarih" />
                                </div>
                                <div class="form-group ml-2">
                                    <label for="returnDate" class="label">Bırakış Tarihi</label>
                                    <input type="text" class="form-control" name="returnDate" id="returnDate" placeholder="Tarih" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reservationTime" class="label">Rezervasyon Saati</label>
                                <input type="text" class="form-control" name="reservationTime" id="reservationTime" placeholder="Saat" />
                            </div>
                            <div class="form-group">
                                <label for="returnTime" class="label">İade Saati</label>
                                <input type="text" class="form-control" name="returnTime" id="returnTime" placeholder="Saat" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary py-3 px-4">Hemen Araç Kiralayın</button>
                                @* <input type="submit" value="Hemen Araç Kiralayın" class="btn btn-secondary py-3 px-4" /> *@
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Araç Kiralamanın En Kolay Yolu</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-route"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Alış Yerini Seçin</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-handshake"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Size En Uygun Teklifi Bulun</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-rent"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Aracınızı Rezerve Edin</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Şimdi Kirala</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>