@model CreateCarDto
@{
    ViewData["Title"] = "Yeni Araç Ekleme";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Araç bilgilerini doldurup "Kaydet" butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form data-action-type="create" asp-action="CreateCar" method="post">
                            <div class="form-group">
                                <label asp-for="BrandID">Marka</label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control", id = "BrandID" })
                                <small id="brandHelp" class="form-text text-muted">Marka seçiniz.</small>
                                <span asp-validation-for="BrandID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Model">Model</label>
                                <input type="text" class="form-control" asp-for="Model" placeholder="Modeli giriniz" />
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Km">KM</label>
                                <input type="number" class="form-control" asp-for="Km" placeholder="KM bilgisi giriniz" />
                                <span asp-validation-for="Km" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarFuelID">Yakıt Türü</label>
                                @Html.DropDownListFor(x => x.CarFuelID, (List<SelectListItem>)ViewBag.FuelValues, new { @class = "form-control", id = "CarFuelID" })
                                <small id="fuelHelp" class="form-text text-muted">Yakıt türü seçiniz.</small>
                                <span asp-validation-for="CarFuelID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Seat">Koltuk Sayısı</label>
                                <input type="number" class="form-control" asp-for="Seat" placeholder="Koltuk sayısını giriniz" />
                                <span asp-validation-for="Seat" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarLuggageID">Bagaj Türü</label>
                                @Html.DropDownListFor(x => x.CarLuggageID, (List<SelectListItem>)ViewBag.LuggageValues, new { @class = "form-control", id = "CarLuggageID" })
                                <small id="luggageHelp" class="form-text text-muted">Bagaj türü seçiniz.</small>
                                <span asp-validation-for="CarLuggageID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarTransmissionID">Vites Türü</label>
                                @Html.DropDownListFor(x => x.CarTransmissionID, (List<SelectListItem>)ViewBag.TransmissionValues, new { @class = "form-control", id = "CarTransmissionID" })
                                <small id="transmissionHelp" class="form-text text-muted">Vites türü seçiniz.</small>
                                <span asp-validation-for="CarTransmissionID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CoverImageUrl">Kapak Fotoğrafı URL'si</label>
                                <input type="text" class="form-control" asp-for="CoverImageUrl" placeholder="Kapak fotoğrafı URL'sini giriniz" />
                                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BigImageUrl">Büyük Fotoğraf URL'si</label>
                                <input type="text" class="form-control" asp-for="BigImageUrl" placeholder="Büyük fotoğraf URL'sini giriniz" />
                                <span asp-validation-for="BigImageUrl" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                            <a href="/AdminCar/Index" class="btn btn-secondary waves-effect waves-light">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
