@model UpdateCarDto

@{
    ViewData["Title"] = "Araç Güncelleme";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili bilgileri eksiksiz doldurmanız önemlidir. Veri girişinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>
                        <form data-action-type="update" asp-action="UpdateCar" method="post">
                            <input type="hidden" asp-for="CarID" />
                            <div class="form-group">
                                <label asp-for="BrandID">Marka</label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control", id = "BrandID" })
                                <small id="brandHelp" class="form-text text-muted">Marka seçiniz.</small>
                                <span asp-validation-for="BrandID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Model">Model</label>
                                <input type="text" class="form-control" asp-for="Model" placeholder="Araç modelini girin" />
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Km">KM</label>
                                <input type="number" class="form-control" asp-for="Km" placeholder="KM bilgisini girin" />
                                <span asp-validation-for="Km" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarFuelID">Yakıt Türü</label>
                                @Html.DropDownListFor(x => x.CarFuelID, (List<SelectListItem>)ViewBag.FuelValues, new { @class = "form-control", id = "CarFuelID" })
                                <small id="fuelHelp" class="form-text text-muted">Yakıt türünü seçiniz.</small>
                                <span asp-validation-for="CarFuelID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Seat">Koltuk</label>
                                <input type="number" class="form-control" asp-for="Seat" placeholder="Koltuk sayısını girin" />
                                <span asp-validation-for="Seat" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarLuggageID">Bagaj Türü</label>
                                @Html.DropDownListFor(x => x.CarLuggageID, (List<SelectListItem>)ViewBag.LuggageValues, new { @class = "form-control", id = "CarLuggageID" })
                                <small id="luggageHelp" class="form-text text-muted">Bagaj türünü seçiniz.</small>
                                <span asp-validation-for="CarLuggageID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CarTransmissionID">Vites Türü</label>
                                @Html.DropDownListFor(x => x.CarTransmissionID, (List<SelectListItem>)ViewBag.TransmissionValues, new { @class = "form-control", id = "CarTransmissionID" })
                                <small id="transmissionHelp" class="form-text text-muted">Vites türünü seçiniz.</small>
                                <span asp-validation-for="CarTransmissionID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CoverImageUrl">Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" asp-for="CoverImageUrl" placeholder="Kapak fotoğrafı URL'sini girin" />
                                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BigImageUrl">Büyük Fotoğraf</label>
                                <input type="text" class="form-control" asp-for="BigImageUrl" placeholder="Büyük fotoğraf URL'sini girin" />
                                <span asp-validation-for="BigImageUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light btn-sm">Aracı Güncelle</button>
                            <a href="/AdminCar/Index" class="btn btn-secondary waves-effect waves-light btn-sm">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

