@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @{
        var currentUrl = Context.Request.Path.Value;
        if (currentUrl != "/CarBook/Default/Index" && currentUrl != "/CarBook/Default/Index/")
        {
            @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")
        }
    }

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

    @RenderSection("Scripts", required: false)

</body>
</html>